.container {
    background-color: #8B00FF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    color: white;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px
}

.image {
    max-width: 100%;
    margin-bottom: 5px;
}

.description {
    font-size: 1em;
}
